{% extends 'core/base.html' %}
{% load static %}

{% block title %}Log in{% endblock %}

{% block content %}

<form method="post">
    <h1 class="h1-login py-4 text-white">Log in</h1>
    {% csrf_token %}
    <div class="text-red-300 py-1">{{ form.non_field_errors }}</div>

    <div style="margin-top: 20px">
        <h2 class="py-4">{{ form.username }}</h2>
        <h2>{{ form.password }}</h2>
    </div>
    <div class="py-4">
        <button type="submit" class="style-button text-white rounded text-xl py-3 px-3 bg-green-400">Log in</button>
    </div>

</form>

{% endblock %}